 <!-- Header  -->
  <header class="hero is-warning">
    <div class="hero-body">
      <h1 class="title"><a href="/">Pets R Us</a></h1>
      <p class="subtitle">Your Resource for Happy Pets and People</p>
    </div>
  </header>