<!-- Header  -->
<header class="hero is-warning">
  <div class="hero-body">
    <h1 class="title">{{{title}}} {{title}}</h1>
    <p class="subtitle">Your Resource for a Happy Pets and People</p>
  </div>
</header>