{{> adopt-header}}
<body>
  <main>
  <!-- Main  -->
  <section class="columns">
    <div class="column"> 
    {{> adopt-form}}
    </div>
    <div class="column">
    {{> pet-display}}
    </div>
  </section>
  </main>
</body>
