{{> adopt-header}}
  <main>
  <!-- Main  -->
  <section class="columns mt-2">
    <div class="column is-4">
      <div class="container">
        {{> adopt-form}}
      </div>
    </div>
    <div class="column is-8">
      <div id="display-area">
      {{> pet-display}}
      </div>
    </div>
  </section>
  {{!-- <script src="/static/js/script.js"></script> --}}

  {{!-- <script type="text/javascript">
    var contentSrc=$("#display-area").html();
    var contentTemplate = Handlebars.compile(contentSrc);

    //because you already have a compiled version of your content template now you can pass this as partial
    Handlebars.registerPartial("tabContentPartial", contentTemplate);
    var context = {
        mycontent : {
            pets : "something that has to change everytime I click on a different tab",
            image : "idem"
        }
    };
    var html = template(context);
    $("body").html(html);
</script> --}}

  </main>

