 <!-- Header  -->
  <header class="hero is-warning">
    <div class="hero-body">
      <h1 class="title">Pets R Us</h1>
      <p class="subtitle">Your Resource for Happy Pets and People</p>
    </div>
  </header>
  <!-- Main  -->
  <main>
    <section class="columns is-centered">
      <!-- Adopt Column -->
      <div class="column is-two-fifths">
        <div class="card is-fullheight">
          <div class="card-image">
            <figure class="image">
              <img src="static/images/golden-retriever.jpeg">
            </figure>
          </div>
          <div class="card-content">
            <div class="buttons is-centered">
              <a href="/adopt" class="button is-success is-outlined">View Pets</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Donate Column -->
      <div class="column is-two-fifths">
        <div class="card is-fullheight">
          <div class="card-image">
            <figure class="image">
              <img src="/static/images/kitten-pile.jpeg">
            </figure>
          </div>
          <div class="card-content">
            <div class="buttons is-centered">
              <a href="/share" class="button is-info is-outlined">Share a Pet</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="/static/js/script.js"></script>
</body>