<h1>Pets R Us</h1>

{{!-- 
<h2>Books you've already read</h2>
<ul>
  {{#each library}}
  {{#if read}}
  {{> books/book-block}}
  {{/if}}
  {{/each}}
</ul>

<h2>Books you haven't read yet</h2>
<ul>
  {{#each library}}
  {{#unless read}}
  {{> books/book-block}}
  {{/unless}}
  {{/each}}
</ul> --}}